
 body {
            background-image: url('light.png');
        }

        .pic {
            border: 10px solid #fff;
            float: left;
            margin: 20px;
            overflow: hidden;
            -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111;
        }

        #sidebar {
            margin-left: 50px;
            width: 260px;
            float: left;
            margin-top:-20px;
        }

        #game_board {
            width: 600px;
            height: 600px;
            background: white;
            margin: auto;
            position: relative;
            border: solid black 1px;
            
            -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111;
        }


        #gameFrame {
            width: 600px;
            height: 600px;
            background: pink;
            margin: auto;
            padding:10px;
            margin-top:50px;
            position: relative;
            border: solid black 1px;
            -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111;
        }


        #content-container {
        }


        #cover {
            padding-top:5px;
            background: black;
            opacity: 0.6;
            position: absolute;
           
            bottom: 0;
            left: 0;
            right: 0;
        }

        .hide {
            display: none;
        }

        .tilt {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

            .tilt:hover {
                -webkit-transform: rotate(-10deg);
                -moz-transform: rotate(-10deg);
                -o-transform: rotate(-10deg);
                -ms-transform: rotate(-10deg);
                transform: rotate(-10deg);
            }

            .tilt.selected {
                -webkit-transform: rotate(-10deg);
                -moz-transform: rotate(-10deg);
                -o-transform: rotate(-10deg);
                -ms-transform: rotate(-10deg);
                transform: rotate(-10deg);
            }

        .classname {
            -moz-box-shadow: inset 0px 1px 0px 0px #c448c4;
            -webkit-box-shadow: inset 0px 1px 0px 0px #c448c4;
            box-shadow: inset 0px 1px 0px 0px #c448c4;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffdeff), color-stop(1, #000000) );
            background: -moz-linear-gradient( center top, #ffdeff 5%, #000000 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdeff', endColorstr='#000000');
            background-color: #ffdeff;
            -moz-border-radius: 9px;
            -webkit-border-radius: 9px;
            border-radius: 9px;
            border: 1px solid #f2f2f2;
            display: inline-block;
            color: #777777;
            font-family: arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 1px 1px 0px #000000;
        }

            .classname:hover {
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #ffdeff) );
                background: -moz-linear-gradient( center top, #000000 5%, #ffdeff 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffdeff');
                background-color: #000000;
               
            }

            .classname:active {
                position: relative;
                top: 1px;
            }
        /* This imageless css button was generated by CSSButtonGenerator.com */
        #btnScramble {
            width: 100px;
            height: 80px;
            background-color: lightblue;
            position: absolute;
            top: 250px;
            left: 650px;
        }

